<h1>Hello from Rails <%= Rails.version %> with Ruby <%= RUBY_VERSION %> on Traefik</h1>
<p><%= Time.current.strftime('%Y-%m-%d %H:%M:%S') %></p>
<p class="propshaft">Propshaft is serving assets correctly if you see this text in green.</p>
